@model IEnumerable<HMPSW.Models.Post>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index for category @ViewBag.category</h2><!-- nome categoria-->

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.catid }, null)
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
                @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>

               <!-- @Html.ActionLink(@item.Description, "Index", new { Controller = "Comments", id = item.ID })-->
                @if (item.Person.Id == User.Identity.GetUserId() || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })@:&nbsp;
                    @Html.ActionLink("Details", "Details", new { id = item.ID })@:&nbsp; 
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
