@model IEnumerable<HMPSW.Models.Community>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
   

        @foreach (var item in Model)
        {

            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                    </a>
                    <h3>
                        <a @Html.ActionLink("View Project", "Details", new { id = item.ID })>@Html.DisplayFor(modelItem => item.Forum)</a>
                    </h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                </div>
        }
                @*<tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Forum)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>*@
</div>
