@using HMPSW.DAL
@using HMPSW.Controllers
@{
    ApplicationDbContext cdb = new ApplicationDbContext();
    List<Category> cats = cdb.Category.ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HomeMakers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("HomeMakers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Categories<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @foreach (Category categ in cats)
                                {
                                    <li>
                                        @Html.ActionLink(categ.Description, "Index", new { controller = "Posts", id = categ.ID })
                                    </li>
                                }
                                <li class="divider"></li>
                                <li>@Html.ActionLink("All Categories", "Index", "Categories")</li>
                            </ul>
                        </li>


                        <li>@Html.ActionLink("Communities", "Index", "Communities")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    @RenderBody()
    <div class="container">
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>Home<span>Makers</span></h3>

                <p class="footer-links">
                    @Html.ActionLink("Categories", "Index", "Categories")
                    ·
                    @Html.ActionLink("Contacts", "Contact", "Home")
                    ·
                    @Html.ActionLink("About", "About", "Home")
                </p>

                <p class="footer-company-name">Home Makers &copy; 2015</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p>ESTGA</p><br />
                    <p><span>R. Cmte. Pinho e Freitas</span></p><br />
                    <p><span>3750-127 Águeda</span></p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>Phone</p><br />
                    <p><span>(+351) 234 611 500</span></p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p>Support</p><br />
                    <p><a href="mailto:support@homemakers.com">support@homemakers.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
